secrets
newsboat/urls
nvim/.netrwhist
nvim/plugin

zsh/.zcompdump

backup/include.txt
backup/exclude.txt
backup/backupdiskpartuuid.txt

xmonad/xmonad.o
xmonad/xmonad.hi
xmonad/lib/Colors.o
xmonad/lib/Colors.hi
xmonad/xmonad.errors
xmonad/.stack-work
xmonad/build-x86_64-linux/
xmonad/xmonad-x86_64-linux
xmonad/stack.yaml.lock
xmonad/xmonad-<yourname>.cabal

aspell/en.prepl
aspell/en.pws
aspell/it.prepl
aspell/it.pws

espanso/match/personal.yml

*~
