secrets
newsboat/urls
nvim/.netrwhist

zsh/.zcompdump

backup/include.txt
backup/exclude.txt
backup/backupdiskpartuuid.txt

xmonad/xmonad.o
xmonad/xmonad.hi
xmonad/lib/Colors.o
xmonad/lib/Colors.hi
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux
xmonad/xmonad-<yourname>.cabal
