* {{
    background:                     {background}00;
    background-color:               {background}66;
    background-entry:               {background}66;
    background-alt:                 {color1}EE;
    foreground:                     {foreground}EE;
    foreground-selected:            {foreground}FF;
    urgent:                         #E91E6366;
    urgent-selected:                #E91E6377;
}}

