@import url("../colors.css");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tab {
    padding-right: 1px !important;
    padding-left: 1px !important;
    padding-bottom: 0px !important;
    align-content: center !important;
}

#tabbrowser-tabs {
    --proton-tab-block-margin: 0;
    max-height: 20px;
    min-height: 20px;
    height: 20px;
}

.tab-background {
    box-shadow: none !important;
    align-content: center;
}

.tab-content {
    background-color: var(--background) !important;
    border-radius: 5px;
}

.tab-content > * {
    margin-top: 0.5em;
}

.tab-content[selected="true"] {
    opacity: 0.9;
}

.tabbrowser-tab {
    opacity: 0.5
}

.tabbrowser-tab:hover {
    opacity: 0.75
}

.tabbrowser-tab[selected] {
    opacity: 1
}

.tab-text {
    text-align: center !important;
    -moz-box-flex: 1 !important;
}

#tabbrowser-tabs {
    background-color: var(--background) !important;
    margin-bottom: 0px !important;
    max-height: 25px !important;
    text-align: center !important;
    align-content: center !important;
    align-self: center !important;
}

scrollbox[orient="horizontal"] {
    -moz-box-pack: center;
}

#tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
    max-width: 200px !important;
}

#tabbrowser-tabs .tab-background>.tab-context-line {
    margin: 0 !important;
}

.tab-label-container {
    -moz-box-pack: center;
    -moz-box-orient: horizontal
}

#alltabs-button {
    display: none !important;
}

#TabsToolbar .close-icon {
    /*filter: opacity(0%) !important;*/
    display: none !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-stack > * {
  margin-bottom: 0.77em;
  opacity: 1 !important;
}
