// vim: syntax=css

@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
    spacing: 0em;
    padding: 0px;
    border-radius: 12;
}

mainbox, window {
    padding: 10;
}

element-text {
    paddind: 213123123;
}
